

<h1 style="color: #023b42;">Jobs</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Consultant</th>
      <th>Client</th>
      <th>Employee</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Work hours</th>
      <th>Total</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.consultation.full_name %></td>
        <td><%= job.client.name %></td>
        <td><%= job.employee.full_name %></td>
        <td><%= job.start_time.strftime("%I:%M%p") %></td>
        <td><%= job.end_time.strftime("%I:%M%p") %></td>
        <td><%= job.timetotal.to_i %> hr/s</td>
        <td><%= number_to_currency job.sumtotal, unit:"E"  %></td>
        <td><%= job.notes %></td>
        <td><%= link_to 'Show', job %></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job', new_job_path %>
